<!DOCTYPE html>
<html>
  <head>
    <title>RailsRadio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>NHKラジオ学習システム</header>
    <div>
      <%= yield %>
    </div>
    <footer>Produced by 稲毛惇人</footer>
  </body>
</html>
